.center {
	text-align: center;
}

.break {
	width: 100%;
	padding: 3em 0 4em 0;
	background-color: $gray-1;
	min-height: 300px;
}

.break2 {
	width: 100%;
	padding: 2em 0 4em 0;
	background-color: $white;
	min-height: 320px;
}

.left_side {
	position: relative;
	float: left;
	width: 100%;
	height: 600px;
	padding: 2em;
	background-color: $logo-2;
	@media (min-width: 992px) {
		width: 50%;
	}
}

.left_img {
	margin: 1.5em auto;
	display: block;
}

.right_side {
	position: relative;
	float: left;
	width: 100%;
	height: 600px;
	padding: 2em;
	background-color: $white;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	@media (min-width: 992px) {
		width: 50%;
	}
}

.image_home_product {
	width: 100%;
}

.full_bg {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-color: $white;
	min-height: 500px;
	padding: 11em 1em;
	color: $white;
}

#about {
	margin: 0 0 4em 0;
}

.about_full {
	display: block;
	margin: 0 auto;
}

.limited_width {
	max-width: 500px;
	margin: 0 auto;
}

.image_small {
	width: 100%;
	display: block;
	margin: 0 auto;
	padding: 1em;
	max-width: 600px;
}

/*=shipping*/
#terms {
	padding: 2em 1em 6em 1em;
	h2 {
		color: $gray-6;
	}
	p {
		color: $gray-5;
	}
}

/*=footer*/
.site-footer {
	height: 60px;
	background-color: $gray-3;
	color: gray-4;
	text-transform: uppercase;
	margin: 2em 0 0 0;
	padding: 1em .5em;

	a {
		color: $gray-6;
		&:hover {
			color: $logo-1;
			transition: all .3s ease-in;
		}
	}

	ul {
		list-style: none;
	}

	li {
		display: inline-block;
		margin: 0 1em;
	}
}




